* {
    padding: 0;
    border: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.title {
    border: 2px solid white;
    position: relative;
    margin: 20px;
    padding: 10px;
}

.banner {
    border: 2px solid white;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 48), rgb(0,  0, 100));
    width: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 10;
}

body {
    background-image: linear-gradient(to bottom right, #606060, #656565);
    background-size: cover;
    background-attachment: fixed;
}



