@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,200;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(50,50,50,1);
}

.grey {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  height: 0;
  overflow: hidden;
  width: 100vw;
  z-index: 100;
}

.main-header {
  font-size: 1.2em;
  background-color: white;
  height: auto;
  width: 100%;
}

.nav li {
  text-align: center;
}

.nav a {
  display: list-item;
  padding: .5em;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(210,210,210,.3);
}

.main-nav {
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(210,210,210,1);
}

.collapsable {
  height: 0;
  overflow: hidden;
}

main div {
  padding: 3vh 5vw;
}

.fill-screen {
  min-height: 100vh;
}

.half-screen {
  min-height: 50vh;
}

.main-content-title {
  background: url("./images/background-lightbulb.jpg") no-repeat center right scroll;
  background-size: cover;
  padding: 10vh 4vw;
} 

.main-content-title h1 {
  font-size: 12vw;
}

.main-content-title p {
  font-size: 4vw;
  padding: 0;
}

main h2 {
  text-align: center;
}

main p {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5rem;
  padding-top: 1.25rem;
}

.background-image {
  background: url(./images/pierogi.jpg) no-repeat center center fixed;
  background-size: cover;
}

.secondary {
  background-color: rgba(100,100,100,1);
}

.secondary h2 {
  color: white;
}

.secondary p {
  color: white;
}

.quote {
  padding: .5em;
  border-top: 1px solid rgba(50,50,50,1);
  border-bottom: 1px solid rgba(50,50,50,1);
  margin-right: 5vw;
  margin-left: 5vw;
}

.profile-pic-container {
  padding: 0;
  position: relative;
}

.profile-pic {
  margin: 3vh auto;
  display: block;
  width: 30%;
  border-radius: 50%;
}

.profile-pic-open {
  height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.open-image {
  max-width: 99vw;
  max-height: 99vh;
  border: 3px solid rgba(50,50,50,1)
}

.close-icon {
  position: absolute;
  right: 0;
  width: 15%;
  margin: 1%;
  background-color: rgba(0,0,0,.5);
}

.footer {
  position: relative;
  background-color: rgba(50,50,50,1);
  padding: 5vh 5vw;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.footer h1 {
  color: white;
  line-height: auto;
}

.icons {
  margin: 0 0 0 auto;
}

.button {
  font-size: 1.2em;
  background-color: seagreen;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: inline-flex;
  text-decoration: none;
}

.container {
  padding: 0;
}

.top-item {
  padding: .5em 0 .5em 0;
}

.bottom-item {
  padding: .5em 0 1em 0;
}

.preview {
  width: 100%;
  border: 2px solid white;
}

@media only screen and (min-width: 600px) {
  .menu-icon {
      display: none;
  }
  .collapsable {
    height: auto;
  }
  .main-header {
    position: fixed;
    height: 44px;
    z-index: 10;
  }
  main {
    position: relative;
    top: 44px;
  }
  .main-nav {
    font-size: 1em;
  }
  .nav li {
    display: inline;
  }
  .nav a {
    display: inline-block;
  }
  .main-content-title {
    padding: 60vh 4vw;
  }
  .main-content-title h1 {
    font-size: 4em;
  }
  .main-content-title p {
    font-size: 1em;
  }
  .profile-pic {
    width: 8rem;
  }
  main div {
    padding: 10vh 15vw;
  }
  .top {
    padding-top: 5vh;
  }
  main div p {
    font-size: 1em;
  }
  .main-content-title {
    background-attachment: fixed;
  }
  .button {
    font-size: 1em;
  }
  .container {
    display: inline-flex;
    margin-bottom: 1em;
  }
  .left-item {
    padding: 0;
    margin-right: .5rem;
    width: 50%;
  }
  .right-item {
    padding: 0;
    margin-left: .5rem;
    width: 50%;
  }
  .preview {
    position: relative;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .button:hover {
    background-color: rgba(210,210,210,.3);
    color: white;
  }
  .open-image {
    max-width: 80vw;
    max-height: 80vh;
  }
  .close-icon {
    width: 8%;
  }
}