* {
    padding: 0;
    border: 0;
}

nav {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 48), rgb(0,  0, 100));
    font-size: 1.25rem;
    text-align: center;
    color: white;
}

a.nav-text {
    color: white;
}

a:hover {
    color: rgba(0, 0, 48);
    background-color: grey; opacity: .75;
    text-decoration: none;
}

main {
    background-color: white;
    height: 1000px;
    padding: 20px;
}

body {
    background-image: linear-gradient(to bottom right, #606060, #808080);
    background-size: cover;
    background-attachment: fixed;
}



